<form [formGroup]="form" ngSubmit="submit()">
    <h2 mat-dialog-title>Enter TODO item below?</h2>

    <mat-dialog-content>
        <p>
            <mat-form-field>
                <mat-label>Choose a due date </mat-label>
                <input matInput formControlName="dueDate" [matDatepicker]="picker" datePickerFormat="MM/DD/YYYY"
                    placeholder="MM/DD/YYYY">
                <!-- ERROR HANDLING -->
                <mat-hint class="text-danger">
                    <ng-container *ngIf="dueDate?.errors && (dueDate?.touched || dueDate?.dirty)">
                        This field is required.
                    </ng-container>
                </mat-hint>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </p>


        <p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Add todo description</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" matInput
                    placeholder="Insert" formControlName="description"></textarea>

                <!-- ERROR HANDLING -->
                <mat-hint class="text-danger">
                    <ng-container *ngIf="description?.errors && (description?.touched || description?.dirty)">
                        This field is required.
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Add todo priority</mat-label>
                <input matInput type="number" maxlength="2" min="0" max="50" formControlName="priority" placeholder="0">

                <!-- ERROR HANDLING -->
                <mat-hint class="text-danger">
                    <ng-container *ngIf="priority?.errors && (priority?.touched || priority?.dirty)">
                        This field is required.
                    </ng-container>
                </mat-hint>
            </mat-form-field>
        </p>
    </mat-dialog-content>

    <mat-dialog-actions class="m-3">
        <button mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
        <button mat-button [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>